.custom-table .ant-table-thead > tr > th {
  background-color: #77D9A1 !important;
  color: #fff !important;
  font-weight: bold;
  font-size: 16px;
  text-align: center;
  border-radius: 0 !important;
  border-bottom: 2px solid #d7f5e4;
}

.custom-table .ant-table-tbody > tr > td {
  text-align: center;
}
